
.centeredDiv {
    text-align: center; 
  }
  
  .example-header-image {
    background-size: cover;
  }
  
  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    width: 200px;
  }
  
  mat-card-title, mat-card-subtitle {
    text-align: center;
  }

  .rightDiv
  {
    margin-top: 25px;
    margin-right: 25px;
    text-align: end;
  }

  /* ng::deep mat-card
  {
    background-color: #E5E5E5;
  } */
  
  mat-grid-tile
  {
      background:mintcream;
  }
  
  
  mat-tab-group, mat-tab{
    font-size: 15px;
    background-color:mintcream;
  }


  .mat-button-toggle {
    background-color: mintcream;
    color: #14213D;
  }
  
  .mat-button-toggle-checked {
    background-color: mintcream;
    border-style: double;
    color: #14213D;
  }

  .emptyDiv
  {
    height: 500px;
    width: 100%;
    background-color: mintcream;
  }

  .mat-elevation-z4
  {
    background-color: #e1e5ee;
  }

  mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    /*width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }