<div class="centeredDiv">
    <mat-card class="centeredCard">
        <mat-card-header>
            <mat-card-title>
                Promena lozinke 
            </mat-card-title>
            <mat-card-subtitle>
                Unesite novu lozinku, a zatim je ponovite u narednom polju zbog sigurnosti
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form #forgottenPasswordForm="ngForm" class="centeredForm">
                <table class="centeredTable">
                    <tr>
                        <td >
                            <mat-form-field appearance="fill">
                                <mat-icon matSuffix>username</mat-icon>
                                <mat-label>Korisničko ime</mat-label>
                                <input matInput name="username"  [(ngModel)]="username" required>
                            </mat-form-field>  
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <mat-form-field appearance="fill">
                                <mat-icon matSuffix>password</mat-icon>
                                <mat-label>Nova lozinka</mat-label>
                                <input matInput name="newPassword1"  [(ngModel)]="newPassword1" required>
                            </mat-form-field>  
                        </td>
                    </tr>
                    <tr> 
                        <td >
                            <mat-form-field appearance="fill">
                                <mat-icon matSuffix>password</mat-icon>
                                <mat-label>Ponovljena lozinka</mat-label>
                                <input matInput name="newPassword2"  [(ngModel)]="newPassword2"  required>
                            </mat-form-field>  
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <button mat-raised-button  color="warn" (click)="changePassword()"> Promeni lozinku </button>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="back()"> Nazad </button>
        </mat-card-actions>
    </mat-card>
</div>

